@import "../variables.scss";
@import "../animations.scss";
.card{
    background-color: $cardColor;
    color: $fontColor;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border: none;
    border-radius: 10px;
    &__image{
        height: 150px;
        width: 150px;
        margin: 0 auto;
    }
    &__title{
        text-transform: uppercase;
        font-size: $h2-font-size-medium;
        margin-bottom: 0;
    }
    &__subtitle{
        font-size: $p-font-size-small;
        color: $fontColor-lighter;
        margin-top: 5px;
    }

    &:hover{
        animation: bounce .7s ease-in;
    }

}

