// colors
$bgColor: rgb(221, 81, 16);
$pokeBall: #FF1515;
$fontPokemon: rgba(255,203,1,1);
$bgPokemon: rgba(53,90,162,1);
$fontColor: rgb(41, 41, 41);
$fontColor-lighter: rgb(95, 95, 95);
$cardColor: rgb(209, 205, 205);

// typography
$p-font-size-mobile : 15px;
$p-font-size-small  : 16px;
$p-font-size-medium : 17px;
$p-font-size-large  : 19px;

$h2-font-size-mobile: 28px;
$h2-font-size-small : 31px;
$h2-font-size-medium: 33px;
$h2-font-size-large : 36px;

$title-large: 50px;

